@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Ultralight-WebS.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Thin-WebS.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Light-WebS.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Regular-WebS.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Book-WebS.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Medium-WebS.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-SemibBold-WebS.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Bold-WebS.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntl";
	src: url("/assets/fonts/Suisse/SuisseIntl-Black-WebS.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseWorks";
	src: url("/assets/fonts/Suisse/SuisseWorks-Ultralight-WebS.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseWorks";
	src: url("/assets/fonts/Suisse/SuisseWorks-Thin-WebS.woff2") format("woff2");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseWorks";
	src: url("/assets/fonts/Suisse/SuisseWorks-Light-WebS.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseWorks";
	src: url("/assets/fonts/Suisse/SuisseWorks-Regular-WebS.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseWorks";
	src: url("/assets/fonts/Suisse/SuisseWorks-Book-WebS.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseWorks";
	src: url("/assets/fonts/Suisse/SuisseWorks-Medium-WebS.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseWorks";
	src: url("/assets/fonts/Suisse/SuisseWorks-Bold-WebS.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntlMono";
	src: url("/assets/fonts/Suisse/SuisseIntlMono-Thin-WebS.woff2") format("woff2");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntlMono";
	src: url("/assets/fonts/Suisse/SuisseIntlMono-Regular-WebS.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "SuisseIntlMono";
	src: url("/assets/fonts/Suisse/SuisseIntlMono-Bold-WebS.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}



/* @fontace {
	font-family: 'SuisseIntl';
	font-weight: 100;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Ultralight-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 200;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Thin-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 300;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Light-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 400;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Regular-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 500;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Book-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 600;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Medium-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 700;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-SemiBold-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 800;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Bold-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntl';
	font-weight: 900;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntl-Black-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseWorks';
	font-weight: 400;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseWorks-Regular-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseWorks';
	font-weight: 700;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseWorks-Bold-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntlMono';
	font-weight: 400;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntlMono-Book-WebS.woff2') format('woff2');
}
@fontace {
	font-family: 'SuisseIntlMono';
	font-weight: 700;
	font-style: normal;
	src: local(''), url('/assets/fonts/Suisse/SuisseIntlMono-Book-WebS.woff2') format('woff2');
} */

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
}

/* 
@media (prefers-color-scheme: dark) {
  html {
	color-scheme: dark;
  }s
  body {
	color: white;
	background: black;
  }
} */

::selection {
	color: red;
	background-color: white;
	font-style: italic;
  }
  